.header
  %h1
    Bitcoin 100

  .tagline
    put your bitcoin where your twitter is

.content
  %ul.leaderboard
    - @identities.each_with_index do |identity, index|
      %li(data-id="#{identity.id}" class="#{'selected' if index == 0}")
        = index + 1
        = identity.name
    %li
      = form_for Identity.new do |form|
        = form.text_field :name, :placeholder => 'Add your twitter handle'

  #profile
    .balance
    %a.refresh(href='#') refresh balance

    .twitter
      %a
        %img
      %a.handle

    .addresses-wrapper
      %ul.addresses
      %a.add-address(href='#') add a wallet address

  #receive-address-dialog(title='Add a new wallet address')
    In order to compute your balance, we need to verify your wallet addresses.
    To do this, send any fraction of a bitcoin to this unique address:

    %h5.validation-address
    %img.qr-code

